@import url('./fonts.css');

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}


.border-gray {
  border: 0.9px solid #00000017;
}

.cursor-pointer {
    cursor:pointer
}